
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ForgotPasswordConfirmation</h1>

<link rel="stylesheet" href="~/css/accountForms.css" asp-append-version="true" />

<h4>we have sent you an email to reset your password</h4>

<a asp-area="" asp-controller="Account" asp-action="Login">Go back to Login Page</a>

