
@{
    ViewData["Title"] = "Home Page";
    var userId = Context.Session.GetString("UserId");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (userId != null)
{
    <p>Angemeldet als Benutzer mit der ID: @userId</p>
}
else
{
    <p>Nicht angemeldet</p>
}