@model IEnumerable<Adoptapal.Business.Definitions.Comment>

@{
    ViewData["Title"] = "PostComments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = Context.Session.GetString("UserId");
}

<link rel="stylesheet" href="~/css/accountForms.css" asp-append-version="true" />

<h1>Comments</h1>

<hr />

<div class="row justify-content-center">
    <div class="col-6">
    @foreach (var item in Model)
    {
            <div class="card mb-4">
                <h5 class="card-header">@Html.DisplayFor(modelItem => item.User.Name) says:</h5>
                <div class="card-body" max-height="50px">
                    <div class="text-start">
                        <p class="card-title">@Html.DisplayFor(modelItem => item.Text)</p>
                    </div>
@*                    @if (userId != null && userId == item.User.Id.ToString())
                    {
                        <a href="@Url.Action("DeleteComment", new { id = item.Id })" class="btn btn-danger">Delete</a>
                    }*@
                </div>
            </div>
    }
    </div>
</div>