@model Animal

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Model.Name
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("zurück zur Übersicht", "Index")
</p>
